__pycache__/
*.pyc
*.pyo
build/
dist/
*.spec
banco/padaria.db
banco/*.db
banco/*.bak
banco/.config_seguro
banco/.dispositivos
banco/fila_nfce.json
banco/padaria.db.backup_antes_limpeza
licenca.key
gerar_licenca.py
logs/
cupons/
backups/
*.ico
.env
 
# EXE gerado 
PDV_Padaria_DaLaine.exe 
dist/ 
 
# Arquivos de teste 
teste_seguranca.py 
banco/.db_hash 
banco/.db_hash 
